<style>
.col-lg-2 {
   text-Align:left !important;
}

</style>

<div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="well bs-component">
              <form class="form-horizontal form-signin" method="post" action="/user/update/<%= user.id %>">
                <fieldset>
                  <legend>Sign-up</legend>


 



                  <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="name" placeholder="Full Name" value="<%= user.name %>" name='name'>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="user" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="user" placeholder="Username" value="<%= user.username %>" name='username'>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="inputEmail" placeholder="Email" value="<%= user.email %>" name='email'>
                    </div>
                  </div>
                <!--  <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password" name='password'>-->
                      <!--<div class="checkbox">
                        <label>
                          <input type="checkbox"> Checkbox
                        </label>
                      </div>-->
              <!--      </div>
                  </div>
                  <div class="form-group">
                    <label for="cnfPassword" class="col-lg-2 control-label" >Confirm</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" id="cnfPassword" placeholder="ReType Password" name="passconf"> -->
                      <!--<div class="checkbox">
                        <label>
                          <input type="checkbox"> Checkbox
                        </label>
                      </div>-->
                <!--    </div>
                </div>-->
                  <!--<div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                    <div class="col-lg-10">
                      <textarea class="form-control" rows="3" id="textArea"></textarea>
                      <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                    </div>
                  </div>-->
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Sex</label>
                    <div class="col-lg-10">
                      <div class="radio">
                        <label>
                          <input type="radio" name="sex" id="optionsRadios1" value="Male" checked="true">
                          Male
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="sex" id="optionsRadios2" value="Female">
                          Female
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Level</label>
                    <div class="col-lg-10">
                      <select class="form-control" id="select" name='level'>
                        <option>Novice</option>
                        <option>Beginner</option>
                        <option>Professional</option>
                        <option>Expert</option>
                      </select>
                      <br>
                  <div class="form-group">
                    <label for="admin" class="col-lg-2 control-label">Admin</label>
                      <input type="checkbox" class="form-control" id="admin" name='admin'>
                    </div>
                  </div>
                      <!--<select multiple="" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select> -->
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-4">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
          </div>
          </div>
